html,body{padding:0; margin:0;} 
body{font-family: "微软雅黑","Microsoft YaHei","宋体","Arial"; font-weight: 700;}


body{
    /* background-color: black; */
    background-image: url(../img/bg.jpg);
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

.navbar-brand {
    margin-top: 1em;
}


.btn{
    padding: 0;
}
.slogan{
    margin-top: 10em;
    margin-bottom: 4em;
    color: #fff;
}
.slogan > h4{
    line-height: 2em;
    padding-top: 10px;
}

.sponsor{
    margin-top: 10em;
}

.download-btn{
    border: 1px solid #fff;
    margin-bottom: 2em;
}

.sponsor ul {
    margin-bottom: 0px;
    padding-left: 1rem; 
    color: #fff;
    list-style:none;

}

.sponsor ul>li >img{
    width: 60px;
    padding: 10px;

}

.sponsor ul> li> span {
    padding-left: 20px;
    font-size: 20px;
}